#battlefield {
  width: 70%;
  min-width: 600px;
  background-image: url("../assets/wood-hor-2.jpg");
  background-size: cover;
  display: flex;
  padding: 16px 24px 16px 100px;
}

#battlefield:before {
  content: '';
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(47, 31, 13, 0.1) linear-gradient(32deg, rgba(47, 31, 13, 0.9) 2%, rgba(47, 31, 13, 0.4) 100%);
  box-shadow: -20px -50px 71px -12px rgba(0, 0, 0, 0.9) inset;
}

#battlefield > div {
  height: 100%;
  width: 100%;
}

div#battlefield-side {
  width: 240px;
  min-width: 240px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#battlefield-board, #battlefield-board__top, #battlefield-board__bottom {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#battlefield-board__top, #battlefield-board__bottom {
  height: 40%;
}

#battlefield-board__divider{
  height: 24px;
}

#battlefield-cards {
  height: calc(20% - 24px);
  width: 100%;
  padding-top: 20px;
}

.battlefield-row {
  width: 100%;
  min-height: 80px;
  height: 100%;
  margin-bottom: 8px;
  display: flex;
}

.battlefield-row:last-child {
  margin-bottom: 0;
}

.battlefield-row .points-container {
  right: auto;
  left: 0;
  transform: translate(-80%, -50%);
  height: 50%;
}

.battlefield-row__spec-container {
  box-shadow: 4px -6px 16px 0 rgba(0, 0, 0, 0.7) inset, 0 1px 2px 0 rgba(255, 222, 129, 0.5);
  aspect-ratio: 1/1;
  height: 100%;
  margin-right: 8px;
}

.battlefield-row__spec-container:after {
  content: "";
  position: absolute;
  aspect-ratio: 67/100;
  top: 10%;
  left: 0;
  height: 70%;
  transform: translateX(calc(50% + 4px));
  background-image: url("../assets/flag.png");
  background-size: contain;
  background-repeat: no-repeat;
  filter: brightness(0.5);
  opacity: 0.6;
}

.battlefield-row__spec-container:before {
  content: "";
  position: absolute;
  aspect-ratio: 1/1;
  height: 100%;
  background-image: url("../assets/invert-ornament.png");
  background-size: cover;
  filter: opacity(0.3);
}

.battlefield-row__container {
  height: 100%;
  width: 100%;
  box-shadow: 4px -6px 16px 0 rgba(0, 0, 0, 0.7) inset, 0 1px 2px 0 rgba(255, 222, 129, 0.5);
  display: flex;
  justify-content: center;
}

.battlefield-row__container:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-image: url("../assets/hor-ornament.png");
  background-size: contain;
  filter: invert(1);
  opacity: 0.7;
}

.battlefield-side__container {
  display: flex;
  justify-content: space-around;
}

.battlefield-side__container img {
  width: 100%;
  height: 100%;
}

.battlefield-side__discard {
  width: 100px;
  height: 150px;
  box-shadow: 0 -8px 20px 4px rgba(0, 0, 0, 0.8) inset;
}

.battlefield-side__container .battlefield-side__discard img {
  width: 80%;
  height: 80%;
  transform: translate(10%, 10%);
}

.battlefield-side__card-desk {
  width: 100px;
  height: 150px;
  box-shadow: 4px 4px 4px 0 rgb(119 103 76);
}

.battlefield-side__count {
  padding: 4px 8px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 16px;
  width: fit-content;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.battlefield-side__discard_disabled img {
  display: none;
}

.battlefield-side__action-panel {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 16px;
  border: 2px solid var(--dark-yellow-color);
  margin: 0 12px;
  box-shadow: 0 -8px 20px 4px rgba(0, 0, 0, 0.8) inset;
  color: var(--dark-yellow-color);
}

.battlefield-side__action-panel p {
  line-height: 24px;
  font-size: 18px;
  font-weight: bold;
}

.battlefield-side__action-panel p:hover {
  color: var(--light-yellow-color);
  cursor: url("../assets/pointer.png"), pointer;
}

.battlefield-side__action-panel_command_disabled {
  display: none;
}

.battlefield-row_select {
  box-shadow: 0px -0px 16px 10px rgba(0, 0, 0, 0.7) inset, 0 0px 10px 2px rgba(255, 222, 129, 0.6);
  cursor: url("../assets/pointer.png"), pointer;
}