* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    user-select: none;
}

@-moz-document url-prefix() {
    * {
        scrollbar-width: thin;          /* "auto" или "thin"  */
        scrollbar-color: var(--dark-brown-color) var(--light-brown-color);   /* плашка скролла и дорожка */
    }
}

*::-webkit-scrollbar {
    width: 10px;               /* ширина scrollbar */
    height: 10px;
}
*::-webkit-scrollbar-track {
    background: var(--light-brown-color);        /* цвет дорожки */
}
*::-webkit-scrollbar-thumb {
    background-color: var(--dark-brown-color);    /* цвет плашки */
    border-radius: 24px;       /* закругления плашки */
    border: none;  /* padding вокруг плашки */
}

#main-body {
    height: 100vh;
    display: flex;
    cursor: url('../assets/cursor.png'), auto;
}

.points-container {
    position: absolute;
    top: 50%;
    right: 0;
    background: grey url("../assets/metal.jpg");
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    transform: translate(50%, -50%);
    height: 60%;
    aspect-ratio: 1/1;
    z-index: 3;
    filter: drop-shadow(0px 0px 4px black);
    max-height: 100px;
}

.points {
    font-size: 3vh;
    color: #444444;
    font-weight: bold;
    filter: drop-shadow(0px 0px 2px white);
}

#backdrop {
    z-index: 99;
    position: absolute;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.6);
    display: none;
    cursor: url("../assets/pointer.png"), pointer;
}

.card {
    border-radius: 8px;
    aspect-ratio: 1/1.7;
    transition: 150ms ease-in-out;
    cursor: url("../assets/pointer.png"), pointer;
}

.card img {
    border-radius: 8px;
    width: 100%;
    height: 100%;
}

.card_scale:not(.card_select):hover {
    scale: 1.2;
    filter: drop-shadow(2px 4px 6px black);
    z-index: 2;
}

.card_select {
    position: absolute;
    right: 0;
    bottom: 100px;
    transform: translatex(100%);
    z-index: 100;
    height: 300px;
}

#backdrop-card {
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 200ms linear;
}

#round-info {
    z-index: 99;
    width: 100vw;
    height: 30vh;
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    top: 50%;
    transform: translateY(-50%);
    color: var(--dark-yellow-color);
    font-size: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 400ms linear;
    pointer-events: none;
    opacity: 0;
}