* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    user-select: none;
}

#main-body {
    height: 100vh;
    display: flex;
}

.points-container {
    position: absolute;
    top: 50%;
    right: 0;
    background: grey url("../assets/metal.jpg");
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    transform: translate(50%, -50%);
    height: 60%;
    aspect-ratio: 1/1;
    z-index: 3;
    filter: drop-shadow(0px 0px 4px black);
    max-height: 100px;
}

.points {
    font-size: 3vh;
    color: #444444;
    font-weight: bold;
    filter: drop-shadow(0px 0px 2px white);
}