* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}

#main-body {
    height: 100vh;
    display: flex;
}

#side-menu {
    width: 30%;
    min-width: 300px;
    background-image: url("../assets/wood-hor.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#side-menu:before {
    content: '';
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--dark-brown-opacity-color);
    box-shadow: 59px -60px 71px 0 rgba(0, 0, 0, 0.8) inset, 0 -69px 71px -12px rgba(0, 0, 0, 0.5) inset, -10px 0 24px 0 rgba(0, 0, 0, 0.5) inset;
}

#battlefield {
    width: 70%;
    min-width: 300px;
    background-image: url("../assets/wood-hor-2.jpg");
    background-size: cover;
}

#battlefield:before {
    content: '';
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(47, 31, 13, 0.5) linear-gradient(32deg, rgba(47, 31, 13, 0.9) 13%, rgba(47, 31, 13, 0.6) 100%);
    box-shadow: -30px -69px 71px -12px rgba(0, 0, 0, 0.9) inset;
}