:root {
    --dark-brown-color: #583E26;
    --middle-brown-color: #9C4A1A;
    --light-brown-color: #A78B71;
    --dark-yellow-color: #877d47;
    --light-yellow-color: #dab837;

    --dark-brown-opacity-color: rgba(47, 31, 13, 0.8);
}